.contenedor-fot{
    display: grid;
    grid-template-columns: repeat(2, 33.75em);
    margin-bottom: 3.125em;
}

.left-side{
    padding: 1rem;
}

.left-side p{
    text-align: start;
}

.right-side{
    padding: 1rem;
    text-align: end;
}

.right-side li{
    display: inline;
    margin-left: 0.625em;
}

.right-side li:hover{
    opacity: 0.5;
    transition: all .5s ease-out;
}
